/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import 'variables';
@import '../node_modules/font-awesome/scss/font-awesome';
// some basic resets 
$background-pale: #D1C4E9;
$primary-color-dark: #D1C3E9;

body { 
  padding: 0; 
  margin: 0; 
  font-family: Roboto, sans-serif; 
  
}
.flex-spacer {
  flex:1 1 auto;
}

.container {
  margin-left: 15px;
  margin-right: 15px;
}

.highlight {
  background-color: $background-pale;
  border: 1px solid $primary-color-dark;
  z-index: 1;
  transform: scale(1.01);
}